.input-field {
    margin: 24px 0;
}

.input-field label {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
}

.input-field input {
    background-color: #FFF;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 400;
    padding: 24px;
    box-sizing: border-box;
}

.field-color input {
    height: 40px;
    padding: 5px 24px;
}