.form-section{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 80px 50px;
    gap: 25px;
}

.form-section form {
    /* max-width: 80%; */
    flex:1;
    background-color: #F7F7F7;
    border-radius: 20px;
    padding: 36px 64px;
    box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.08);;
}