.team-container {
    text-align: center;
    padding: 32px;
}

.team-container h3 {
    font-family: 'Prata';
    font-size: 32px;
    font-weight: 400;
    border-bottom: solid  4px;
    display: inline-block;
    padding-bottom: 8px;
}

.team-container .cards{
    display: flex;
    flex-wrap: wrap;
    /* gap: 24px; */
    justify-content: space-around;
}