.card-container {
    position: relative;
    width: 262px;
}

.card-container .card-header {
    border-radius: 10px 10px 0px 0px;
    font-weight: 600;
}


.card-container img {
    width: 100px;
    border-radius: 50%;
    position: relative;
    bottom: -50px;
} 


.card-container .card-footer {
    background: #FFFFFF;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08);
    border-radius: 0px 0px 10px 10px;
    padding-top: 40px;
    padding-bottom: 40px;
    
}

.card-container .card-footer {
    color: #6278F7;
    font-size: 18px;
    line-height: 22px;
    
    margin-bottom: 8px;

}
.card-container .card-footer h4 {
    margin-bottom: 0px;   
}

.card-container .card-footer h5 {
    font-size: 18px;
    line-height: 22px;
    color: #212121;
    font-weight: 400;
    margin-top: 5px;
    padding: 0 16px;
}

.delete-card {
    position: absolute;
    right: -10px;
    top: -10px;   
    cursor: pointer;
}
