@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Prata&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


h1 {
  font-family: 'Prata', serif;
  font-size: 32px;
  font-weight: 400;
}

input {
  font-family: 'Montserrat', sans-serif;
}

select {
  font-family: 'Montserrat', sans-serif;
}
